<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>users</title>
    <title>Thymeleaf Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3">Add user</a>
    <table style="width:80%" border="1"
       class="table table-striped table-responsive-md">
    <div>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Last Name</th>
                <th>Action</th>
            </tr>
            <tr th:each="user:${users1}">
                <td th:text="${user.getName()}"></td>
                <td th:text="${user.getEmail()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td>
                    <a th:href="@{/delete/{id}(id=${user.getId()})}"
                       class="btn btn-danger">Delete</a>
                    <a th:href="@{/update/{id}(id=${user.id})}"
                       class="btn btn-primary">Update</a>
                </td>


            </tr>
        </table>
    </div>
</body>
</html>